extends layout

block content
	.container
		.row
			.span6
				pre.prettyprint.
					# Turn off a light
					curl -X POST /v1/devices/DEVICE_ID/off
					&nbsp;
					# Dim a light to 50%
					curl -X POST /v1/devices/DEVICE_ID/50
					&nbsp;
					# Fade a light off over 3 seconds (3000ms)
					curl -X POST /v1/devices/DEVICE_ID/fade/0/3000

			.span6
				h1
					span.slabtext A RESTful API for
					span.slabtext lights
		.row
			.span4
				h3 It's like jQuery for the real world.
				p.api What if, with a little JavaScript magic, your apps could pull someone's lights in the mix?
				p.api Our API gives you complete control over lights that will feel very familiar to anyone who uses jQuery.
				p.api Spark offers simple API calls, for example, to check how bright a light is, fade it up or down over a given duration, and schedule these actions to be triggered later.
			.span4
				h3 Libraries are on their way.
				p.api We're working on native libraries for languages like Ruby, Python, Java, and Objective-C to make your life even easier.
				p.api Make great native and web apps that can reach into the real world and tap your users on the shoulder.
				p.api Well, almost.
			.span4
				h3 Help us!
				p.api We can only make this product and this API a reality with your support!
				p.api Back us on Kickstarter by clicking the big ol' green button up there.