extends layout

block content
	.container
		- if (message)
			script
				mixpanel.track("Email address submitted via API docs");
			.row
				.span12
					.alert.alert-success #{message}
		- else
			script
				mixpanel.track("API Docs loaded");

		.row
			.span6
				pre.prettyprint.
					# Turn off a light
					POST /v1/devices/DEVICE_ID/off
					&nbsp;
					# Fade a light off over 3 seconds (3000ms)
					POST /v1/devices/DEVICE_ID/fade/0/3000
					&nbsp;
					# Get the current status of a light
					GET /v1/devices/DEVICE_ID

			.span6
				h1#slabtext4 A RESTful API for
				h1#slabtext5 lights
		hr.soften.small
		.row
			.span4
				h3 It's like jQuery for the real world.
				p.api What if, with a little JavaScript magic, your apps could pull someone's lights in the mix?
				p.api Our API gives you complete control over lights that will feel very familiar to anyone who uses jQuery.
				p.api Spark offers simple API calls, for example, to check how bright a light is, fade it up or down over a given duration, and schedule these actions to be triggered later.
			.span4
				h3 Libraries are on their way.
				p.api We're working on native libraries for languages like Ruby, Python, Java, and Objective-C to make your life even easier.
				p.api Make great native and web apps that can reach into the real world and tap your users on the shoulder.
				p.api Well, almost.
			.span4
				h3 Help us!
				p.api We can only make this product and this API a reality with your support!
				p.api We're launching on Kickstarter on November 13 - send us your email address to keep you updated!
				//- p.api Back us on Kickstarter by clicking the big ol' green button up there.
		.row
			.span8.offset2
				form.form-inline(method="POST", action="/api")
					.controls.controls-row
						input.span5(type='text', name='email', placeholder='Type email address here')
						button.btn.span3(type='submit') Sign up for updates