extends layout

block content
	.navbar.navbar-fixed-top
		.inner
			.container
				a.logo(href="#")
					img(src="images/spark-brand.png")
				ul.nav.pull-right
					li
						a.ks(href="#") Kickstarter
	.container
		.row
			.span6
				pre.
					# Turn off device 'Elroy'
					curl -X POST http://sprk.io/v1/devices/Elroy/turnOff
						-u API_KEY
					&nbsp;
					# Dim 'Elroy' to 50% (0-12 scale; 0 is off)
					curl -X POST http://sprk.io/v1/devices/Elroy/dim/6
						-u API_KEY
					&nbsp;
					# Fade 'Elroy' off over 3 seconds (3000ms)
					curl -X POST http://sprk.io/v1/devices/Elroy/fade/0/3000
						-u API_KEY

			.span6
				h1
					span.slabtext A RESTful API for
					span.slabtext lights
		.row
			.span12
				h3 It's like jQuery for the real world.
				p.
					Bacon ipsum dolor sit amet quis shoulder excepteur aliqua, cillum meatloaf id pork aliquip est rump ut doner chicken eiusmod. Ball tip sed pig duis pastrami dolore prosciutto short ribs in pork loin flank deserunt turkey venison ham. Eu aliqua tempor venison, andouille bresaola enim nostrud. Biltong shoulder consectetur commodo, aliquip ball tip pork chop doner. In sirloin jerky occaecat, dolore bresaola minim laborum magna et ad dolor reprehenderit. Tail ribeye occaecat exercitation.
