extends layout

block head
  meta(property="fb:app_id",      content="208678505934382")
  meta(property="og:type",        content="spark-xmas-house:christmas_house")
  meta(property="og:url",         content="http://www.sparkdevices.com/christmas")
  meta(property="og:title",       content="Spark Christmas House")
  meta(property='og:image',       content='https://s3.amazonaws.com/spark-press-assets/spark-001.jpg')
  meta(property='og:description', content="I'm controlling someone's Christmas lights over the internet using Spark! Check out the webcam, and take control yourself!")

block content
  #fb-root
  script(src='/javascripts/christmas.js')
  .container
    .row
      .span12
        h1.demo Control our Christmas lights online. Seriously.
    .row
      .span6
        .embed-container.ustream
          <iframe src="http://www.ustream.tv/embed/12735085" width="608" height="368" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe><br /><a href="http://www.ustream.tv/" style="padding: 2px 0px 4px; width: 400px; background: #ffffff; display: block; color: #000000; font-weight: normal; font-size: 10px; text-decoration: underline; text-align: center;" target="_blank">Video streaming by Ustream</a>
        //.instructions.hidden-phone
          p Our Christmas lights are hooked up through Spark!
          p Log in with Facebook to take control of our lights.
          p The lights turn on and off instantly, but the webcam adds about five seconds of delay.
          p Don't believe us? Try it!
       // .instructions.red
          p Did you come to check out our live demo?
          p Sorry - the demo is down for the weekend. We're working on some tweaks and improvements.
          p It'll go back up on Monday, so check back then!
          p In the meantime, be sure to check out our Kickstarter campaign (button in the upper right corner) to get your Spark Socket now!
      .span6
        #xmas-buttons
          button.btn.btn-large.btn-block.btn-success Tree
          button.btn.btn-large.btn-block.btn-info Icicles
          button.btn.btn-large.btn-block.btn-primary Walkway
          button.btn.btn-large.btn-block.btn-warning Reindeer
          button.btn.btn-large.btn-block.btn-danger Snowman
          button.btn.btn-large.btn-block.btn-inverse Banister
          p.xmas NOTE: While the Christmas lights turn on and off instantly, the webcam adds about five seconds of delay. Be patient, the lights will change!
        #facebook-login
          #fb-login-button.button.btn.btn-large.btn-block Sign in with Facebook
          p Want to control our Christmas lights? Sign in with Facebook to take control. We'll post to your wall that you're controlling the lights on our house, so take it for a spin and help us spread the word!
    .row
      .span12
        .instructions
          p The "Spark House" is an interactive demonstration of Spark, a platform for connecting lights to the internet.
          p Our first product, the Spark Socket, lets you control the lights in your home over the internet from a smartphone, tablet, or computer.
          p If you'd like to get a Spark Socket, check out our <a href="/kickstarter">Kickstarter campaign</a> and order yours today!
  script
    mixpanel.track("Demo page loaded");
