extends layout

block content
	.container
		.row
			.span12
				h1 
					span.slabtext Our lights are hooked up to Twitter. Seriously.
		.row
			.span6
				.twitter-container
					<a class="twitter-timeline" href="https://twitter.com/search?q=%23hellospark" data-widget-id="260444734051459072">Tweets about "#hellospark"</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			.span6
				.embed-container
					<iframe src="http://www.ustream.tv/embed/12370545" width="608" height="368" scrolling="no" frameborder="0" style="border: 0px none transparent;"></iframe><br /><a href="http://www.ustream.tv/" style="padding: 2px 0px 4px; width: 400px; background: #ffffff; display: block; color: #000000; font-weight: normal; font-size: 10px; text-decoration: underline; text-align: center;" target="_blank">Video streaming by Ustream</a>
				h4 Mention #hellospark in a tweet and our lights will flash.
				h4 The more followers you have, the longer the lights stay on.
				h4 Don't believe us? Try it!