extends layout

block content
	div.
		<div id="fb-root"></div>
			<script>(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=166479183437506";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>
	.container
		- if (message)
			script
				mixpanel.track("Email address submitted via landing page");
			.row
				.span12
					.alert.alert-success #{message}
		- else
			script
				mixpanel.track("Landing page loaded");
		.row
			.span6
				.embed-container
					<iframe src="http://fast.wistia.com/embed/iframe/4ui847ackd?endVideoBehavior=reset&fullscreenButton=false&playbar=false&playerColor=00ABDF&smallPlayButton=false&version=v1&videoHeight=1080&videoWidth=1920&wmode=transparent" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" width="1920" height="1080"></iframe>
			.span6
				h1#slabtext1 Upgrade your 
				h1#slabtext2 lights 
				h1#slabtext3 with internet and apps
				.sparkbtn.btn-block Coming soon! 
				// a.sparkbtn.btn-block(href="/demo") Check out a live demo
				// a.sparkbtn.btn-block.btn-kickstarter(href="#") Get one on Kickstarter
				.row
					.span4
						.social-container.
							<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fsparkdevices&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=lucida+grande&amp;height=80&amp;appId=166479183437506" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:100px;" allowTransparency="true"></iframe>
					.span2.
						<a href="https://twitter.com/sparkdevices" class="twitter-follow-button" data-show-count="false">Follow @sparkdevices</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		hr.soften
		.row
			.span12
				h2 Hey, there!
			.span3.pull-right
				img.big.spark-one(src="https://s3.amazonaws.com/spark-devices/spark-hero2.jpg")
			.span9
				p.spread-out I'm Spark. I connect your lights to the internet.
				p.spread-out Why? Well, a bunch of reasons. I let you control your lights from any smartphone, tablet, or computer. I make any light fixture dimmable, so you can have mood lighting.
				p.spread-out But most amazingly - most awesomely - I let apps interact with your lights. And that means by downloading an app on your phone, you can have a "sunrise" alarm clock that turns on your lights slowly to help you wake up in the morning, or a vacation app that turns on your lights randomly while you're away so it looks like someone's home, or a million other things.
				p.spread-out Pretty cool, huh?
		hr.soften
		.row
			.span12
				h2 Hey, developers!
		.row
			.span4
				img.big(src="https://s3.amazonaws.com/spark-devices/spark-hero3.jpg")
			.span8
				p.spread-out I'm here for you, friends. I've got a pretty cool, unbelieveably easy-to-use API so you can make great apps for Spark. It looks like this:
				code.spread-out.prettyprint curl -X POST /v1/devices/DEVICE_ID/on
				p.spread-out That's an API call to turn on a light. Want to see more? Check out our API docs to learn more about the first RESTful API for your lights.
				a.sparkbtn(href="/api") API Docs
		hr.soften
		.row
			.span5
				h2 Hey, talented people!
				p.spread-out We're growing our team, and we need all sorts of great people. Electrical, mechanical, and software engineers. Designers of all sorts. Business folks.
				p.spread-out You like what we're doing? Want to be involved? Send your resume to jobs@sparkdevices.com.
				a.sparkbtn(href="mailto:jobs@sparkdevices.com") Email us
			.span5.offset2
				h2 Hey, investors!
				p.spread-out We're excited to be growing fast and we need your help to grow faster. Check us out at AngelList and let's start a conversation.
				a.sparkbtn.btn-angellist(href="http://angel.co/spark") AngelList
		hr.soften
		.row
			.span5
				p(style="font-size:18px; line-height:30px") Spark is launching Fall 2012.
			form.form-inline(method="POST", action="/")
				.controls.controls-row
					input.span4(type='text', name='email', placeholder='Type email address here')
					button.btn.span3(type='submit') Sign up for updates
	footer
		.container
			.row
				.span3
					h5 News
					ul
						li
							a(href="http://blog.sparkdevices.com") Blog
				.span3
					h5 Social
					ul
						li
							a(href="http://www.facebook.com/sparkdevices") Facebook
						li
							a(href="http://www.twitter.com/sparkdevices") Twitter
				.span3
					h5 Help
					ul
						li
							a(href="mailto:hello@sparkdevices.com") Contact Us