extends layout

block content
	.navbar.navbar-fixed-top
		.navbar-inner
			.container
				a.logo(href="#")
					img(src="images/spark-brand.png")
				ul.nav
					li
						a(href="#") What it does
					li
						a(href="#") How it works
					li
						a(href="#") Get updates
				ul.nav.pull-right
					li
						a.ks(href="#") Kickstarter
	.container
		.row
			.span5
				img(src="http://placehold.it/800x600")
			.span7
				h1 Upgrade your lights with internet and apps.
				p Spark connects your lights to the internet to do all sorts of fun things!
				button.btn.btn-block Check out a live demo
		.row
			.span4
				h2 For users
				button.btn.btn-block Kickstarter
			.span4
				h2 For developers
				button.btn.btn-block API Docs
			.span4
				h2 For investors
				button.btn.btn-block AngelList
		hr
		.row
			.span4
				img(src="http://placehold.it/400x300")
			.span8
				h1 What it does
				p Bacon ipsum dolor sit amet capicola labore ut cow in sausage dolore irure mollit chicken pastrami magna esse. Spare ribs voluptate non duis. Est elit sint commodo, hamburger swine quis ut sed deserunt ullamco. Shoulder do id tenderloin deserunt, pork pork loin eiusmod quis veniam beef ribs magna reprehenderit aliqua. Reprehenderit jerky ribeye, ground round shoulder meatloaf chicken ut tri-tip short loin.
		hr
		.row
			.span4.pull-right
				img(src="http://placehold.it/400x300")
			.span8
				h1 How it works
				p Frankfurter sed tongue, ut ex consequat capicola reprehenderit aliquip dolore sirloin boudin rump sausage. Minim et venison eu sausage bresaola consequat salami labore est proident tongue brisket veniam eiusmod. Qui enim strip steak dolore short ribs aute filet mignon ut meatloaf duis boudin elit aliquip in magna. In elit mollit, drumstick rump in meatball nisi. In sunt eu biltong bacon in do non. Ut consequat elit biltong dolore strip steak sed veniam sausage sunt pork chop boudin magna pork belly. Tenderloin nostrud pork chop cow culpa sirloin quis.
		hr
		.row
			.span5
				p Spark is launching Fall 2012.
			form.form-inline
				.controls.controls-row
					input.span4(type='text', placeholder='Type email address here')
					button.btn.span3(type='submit') Sign up for updates