extends layout

block content
	.container
		.row
			.span12
				.hero-unit
					h2 About Spark
					p Spark is a simple product that connects your lights to the internet so you can control them from a smartphone, tablet, or computer.
					p The Spark Socket screws into any standard lightbulb socket, and connects to the internet over the Wi-Fi connection in your home, so that you can control your lights from a smartphone, tablet, or computer. Spark can make your life simpler, more streamlined and, just maybe, a little more fun.
		.row
			.span3.visible-desktop#pressnav
					ul.nav.nav-tabs.nav-stacked#pressnavbar
						li
							a(href="#branding") Branding
						li
							a(href="#images") Product images
						li
							a(href="#video") Video clips
						li
							a(href="#pr") Press release
						li
							a(href="#other") Other documents
						li
							a(href="#contact") Contact
					.well
						address
							strong Spark Devices
							br
							| 400 S 4th St, Suite 401-213
							br
							| Minneapolis, MN 55415
							br
							br
							| For press inquiries,
							br
							| please contact Stephanie:
							br
							a(href="mailto:stephanie@sparkdevices.com") stephanie@sparkdevices.com
			.span9.pull-right
				#branding
					h2 Branding &nbsp;
						a.btn(href="https://s3.amazonaws.com/spark-press-assets/spark-branding.zip") Download ZIP of all files
					ul.thumbnails
						li.span3
							.thumbnail
								img(src="https://s3.amazonaws.com/spark-press-assets/spark-vertical.png")
								h4 Vertical orientation
								ul
									li
										a(href="https://s3.amazonaws.com/spark-press-assets/spark-vertical.png") Download PNG
									li
										a(href="https://s3.amazonaws.com/spark-press-assets/spark-vertical.jpg") Download JPG
									li
										a(href="https://s3.amazonaws.com/spark-press-assets/spark-vertical.eps") Download EPS
						li.span3
							.thumbnail
								img(src="https://s3.amazonaws.com/spark-press-assets/spark-horizontal.png")
								h4 Horizontal orientation
								ul
									li
										a(href="https://s3.amazonaws.com/spark-press-assets/spark-horizontal.png") Download PNG
									li
										a(href="https://s3.amazonaws.com/spark-press-assets/spark-horizontal.jpg") Download JPG
									li
										a(href="https://s3.amazonaws.com/spark-press-assets/spark-horizontal.eps") Download EPS
						li.span3
							.thumbnail
								img(src="https://s3.amazonaws.com/spark-press-assets/spark-mark.png")
								h4 Mark alone
								ul
									li
										a(href="https://s3.amazonaws.com/spark-press-assets/spark-mark.png") Download PNG
									li
										a(href="https://s3.amazonaws.com/spark-press-assets/spark-mark.jpg") Download JPG
									li
										a(href="https://s3.amazonaws.com/spark-press-assets/spark-mark.eps") Download EPS
				#images
					h2 Product images &nbsp;
						a.btn(href="#") Download ZIP of all files
					ul.thumbnails
						li.span3
							.thumbnail
								img(src="http://placehold.it/300x300")
								h4 Pic 1
								a.btn(href="#") Download JPG
						li.span3
							.thumbnail
								img(src="http://placehold.it/300x300")
								h4 Pic 1
								a.btn(href="#") Download JPG
						li.span3
							.thumbnail
								img(src="http://placehold.it/300x300")
								h4 Pic 1
								a.btn(href="#") Download JPG
						li.span3
							.thumbnail
								img(src="http://placehold.it/300x300")
								h4 Pic 1
								a.btn(href="#") Download JPG
						li.span3
							.thumbnail
								img(src="http://placehold.it/300x300")
								h4 Pic 1
								a.btn(href="#") Download JPG
						li.span3
							.thumbnail
								img(src="http://placehold.it/300x300")
								h4 Pic 1
								a.btn(href="#") Download JPG
				#video
					h2 Video clips
					ul.thumbnails
						li.span3
							a(href="#").thumbnail
								img(src="http://placehold.it/300x300")
						li.span3
							a(href="#").thumbnail
								img(src="http://placehold.it/300x300")
						li.span3
							a(href="#").thumbnail
								img(src="http://placehold.it/300x300")
						li.span3
							a(href="#").thumbnail
								img(src="http://placehold.it/300x300")
						li.span3
							a(href="#").thumbnail
								img(src="http://placehold.it/300x300")
						li.span3
							a(href="#").thumbnail
								img(src="http://placehold.it/300x300")
				#pr
					h2 Press release
					.well
						a.btn(href="#") Download PDF
						a.btn(href="#") Download DOC
				#other
					h2 Other documents
					.well
						h4 Team bios
						a.btn(href="#") Download PDF
						a.btn(href="#") Download DOC
					.well
						h4 FAQs
						a.btn(href="#") Download PDF
						a.btn(href="#") Download DOC
				#contact
					h2 Contact information
					.well
						address
							strong Spark Devices
							br
							| 400 S 4th St, Suite 401-213
							br
							| Minneapolis, MN 55415
							br
							br
							| For press inquiries,
							br
							| please contact Stephanie:
							br
							a(href="mailto:stephanie@sparkdevices.com") stephanie@sparkdevices.com
	script(src="/javascripts/bootstrap-affix.js")
	script(src="/javascripts/bootstrap-scrollspy.js")