extends layout

block content
	.container
		.row
			.span3
				ul.nav.nav-tabs.nav-stacked
					li.active
						a(href="#branding") Branding
					li
						a(href="#images") Product images
					li
						a(href="#video") Video clips
					li
						a(href="#") FAQs
					li
						a(href="#") Team
					li
						a(href="#") Press release
					li
						a(href="#") Contact
			.span9
				#branding
					h2 Branding &nbsp;
						a.btn(href="#") Download ZIP of all files
					ul.thumbnails
						li.span3
							.thumbnail
								img(src="http://placehold.it/300x300")
								h4 Vertical orientation
								ul
									li
										a(href="#") Download PNG
									li
										a(href="#") Download JPG
									li
										a(href="#") Download EPS
						li.span3
							.thumbnail
								img(src="http://placehold.it/300x300")
								h4 Horizontal orientation
								ul
									li
										a(href="#") Download PNG
									li
										a(href="#") Download JPG
									li
										a(href="#") Download EPS
						li.span3
							.thumbnail
								img(src="http://placehold.it/300x300")
								h4 Mark alone
								ul
									li
										a(href="#") Download PNG
									li
										a(href="#") Download JPG
									li
										a(href="#") Download EPS
				h2#images Product images &nbsp;
						a.btn(href="#") Download ZIP of all files
					ul.thumbnails
						li.span3
							.thumbnail
								img(src="http://placehold.it/300x300")
								h4 Pic 1
								a.btn(href="#") Download JPG
						li.span3
							.thumbnail
								img(src="http://placehold.it/300x300")
								h4 Pic 1
								a.btn(href="#") Download JPG
						li.span3
							.thumbnail
								img(src="http://placehold.it/300x300")
								h4 Pic 1
								a.btn(href="#") Download JPG
						li.span3
							.thumbnail
								img(src="http://placehold.it/300x300")
								h4 Pic 1
								a.btn(href="#") Download JPG
						li.span3
							.thumbnail
								img(src="http://placehold.it/300x300")
								h4 Pic 1
								a.btn(href="#") Download JPG
						li.span3
							.thumbnail
								img(src="http://placehold.it/300x300")
								h4 Pic 1
								a.btn(href="#") Download JPG
				h2#video Video clips
					ul.thumbnails
						li.span3
							a(href="#").thumbnail
								img(src="http://placehold.it/300x300")
						li.span3
							a(href="#").thumbnail
								img(src="http://placehold.it/300x300")
						li.span3
							a(href="#").thumbnail
								img(src="http://placehold.it/300x300")
						li.span3
							a(href="#").thumbnail
								img(src="http://placehold.it/300x300")
						li.span3
							a(href="#").thumbnail
								img(src="http://placehold.it/300x300")
						li.span3
							a(href="#").thumbnail
								img(src="http://placehold.it/300x300")